<!DOCTYPE HTML>
<html lang="en">

<head>
    <title>Capstone Travel App</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
</head>

<body>
    <header>
        <h1>Capstone Travel</h1>
    </header>


    <form id="searchForm">
        <div id="intro">Where would you like to visit?</div>
        <input type="text" id="location" placeholder="Destination city name"><button>Search</button>
    </form>


    <div id="tileContainer">
        <div class="tilewrapper">
            <div class="tileinnerwrapper">
                <div id="locationTile" class="tileimagewrapper"></div>
            </div>
            <div class="tile-body">
                <h2 id="locationTitle">Location</h2>
                <span id="locationBlurb"></span>
            </div>
        </div>

        <div class="tilewrapper">
            <div class="tileinnerwrapper">
                <div id="weatherTile" class="tileimagewrapper"></div>
            </div>
            <div class="tile-body">
                <h2 id="weatherTitle">Weather</h2>
                <span id="weatherBlurb"></span>
            </div>
        </div>

        <div class="tilewrapper">
            <div class="tileinnerwrapper">
                <div id="sunTile" class="tileimagewrapper"></div>
            </div>
            <div class="tile-body">
                <h2 id="sunTitle">Daylight Hours</h2>
                <span id="sunBlurb"></span>
            </div>
        </div>

    </div>
</body>

<!-- <script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
        });
    }
   </script> -->

</html>