<!DOCTYPE HTML>
<html lang="en">

<head>
    <title>Travel Weather</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
</head>

<body>
    <header>
        <h1>Travel Weather</h1>
    </header>

    <main>
        <form id="searchForm">
            <div id="intro">Where would you like to visit?</div>
            <input type="text" id="location" placeholder="Destination city name"><button>Search</button>
        </form>

        <div id="results">
            <div id="weatherImage" class="tileimagewrapper"></div>
            <div id="weatherBlurb"></div>
            <div id="rainBlurb"></div>
            <div id="temperatureBlurb"></div>
            <div id="sunBlurb"></div>
        </div>

        <form id="dateForm">
            <div id="dateIntro">Would you like to visit on a different day?</div>
            <input id="datePicker">
        </form>
    </main>
</body>

<script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
        });
    }
</script>

</html>